div.piechart {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    position: relative;
    margin: 10px auto;
}

div.chartCap {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #383040;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

div.colorContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

div.color {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 13px;
    margin-right: 5px;
}

div.chart {
    display: inline-block;
    background-color: #342D3C;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-right: 40px;
}

tr:nth-child(even) td {
    background-color: #51435E;
}

th {
    background-color: #D4CBDF;
    padding: 10px 20px;
    color: black;
}

td {
    background-color: #392E44;
    text-align: center;
    padding: 10px 20px;
}

th.left {
    border-radius: 10px 0 0 0;
}

th.right {
    border-radius: 0 10px 0 0;
}

table {
    width: 100%;
    border-spacing: 3px;
}

div.graphic {
    position: relative;
    padding: 10px 0;
    margin: 10px 0 40px 0;
    background-color: #201A2644;
    height: 265px;
    width: 610px;
}

div.graphic canvas {
    position: absolute;
    left: 2%;
    bottom: 0;
    width: 96%;
    height: 100%;
}

div.graphicLine {
    width: 100%;
    height: 2px;
    background-color: #FFFFFF11;
    position: relative;
}

div.graphicLine div {
    text-align: right;
    position: absolute;
    left: -50px;
    width: 40px;
    top: -5px;
}

div.graphicDate {
    position: absolute;
    text-align: center;
    bottom: -30px;
    transform: translateX(-50%);
}
