div.piechart {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
    position: relative;
    margin: 10px auto;
}

div.chartCap {
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: #383040;
    left: 20px;
    right: 20px;
    top: 20px;
    bottom: 20px;
}

div.colorContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

div.color {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 13px;
    margin-right: 5px;
}

div.chart {
    display: inline-block;
    background-color: #342D3C;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    margin-right: 40px;
}
