html {
    background-color: #1F1A26;
    min-height: 100%;
    font-family: Arial;
}

body {
    padding: 10px;
    min-height: 90vh;
    margin: 34px 40px;
    background-color: #383040;
    border-radius: 25px;
    position: relative;
}

div.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 218px;
    background-color: #30273A;
    border-radius: 25px 0 0 25px;
}

div.menuItem {
    color: white;
    font-size: 20px;
    height: 2em;
    line-height: 2em;
    padding: 0 20px;
}
div.menuItem:hover {
    background-color: #3B3146;
}

div.logo {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 32px;
    background-image: url('/img/logo.svg');
    background-size: cover;
}
