@font-face {
    font-family: Geologica;
    src: url('/fonts/Geologica.ttf');
}

html {
    background-color: #1F1A26;
    min-height: 100%;
    font-family: Geologica;
    color: white;
}

a {
    color: #AB4EFF;
}

body {
    padding: 10px;
    min-height: 84vh;
    margin: 34px 40px;
    background-color: #383040;
    border-radius: 25px;
    position: relative;
}

div.menu {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 218px;
    background-color: #30273A;
    border-radius: 25px 0 0 25px;
}

div.menuItem {
    font-size: 20px;
    height: 2em;
    line-height: 2em;
    padding: 0 20px;
}
div.menuItem:hover {
    background-color: #3B3146;
}

div.menuItem a {
    color: white;
}

div.userInfo {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}

div.menuItem a {
    text-decoration: none;
}

input[type='submit'],
button {
    background-color: #8500EB;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 20px;
    transition-duration: 0.2s;
    margin: 15px 0;
    padding: 10px 20px;
    box-shadow: 0 4px 4px #201A2622;
}
input[type='submit']:hover,
button:hover {
    background-color: #00E6E6;
    cursor: pointer;
    color: #8500EB;
}

div.logo {
    height: 32px;
    background-image: url('/img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 20px 0;
}
