td.green {
    background-color: lawngreen;
}

td.red {
    background-color: red;
}

table {
    width: 100%;
    border-spacing: 3px;
}

div.tableContainer {
    margin-left: 227px;
    margin-right: 10px;
}

th {
    background-color: #D4CBDF;
    padding: 10px 20px;
    color: black;
}

td {
    background-color: #392E44;
    text-align: center;
    padding: 10px 20px;
}

th.left {
    border-radius: 10px 0 0 0;
}

th.right {
    border-radius: 0 10px 0 0;
}

div.statsContainerRow {
    float: right;
    display: flex;
    flex-direction: row;
}

div.statsContainerColumn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

div.statBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #30273A;
    border-radius: 25px;
    width: 160px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

span.statNumber {
    font-size: 46px;
    text-align: center;
}

span.statText {
    font-size: 15px;
    text-align: center;
}

tr:nth-child(even) td {
    background-color: #51435E;
}

div.piechart {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 200px;
}
