div.menu {
    width: 790px;
}

div.input {
    position: relative;
    border: solid white 1px;
    border-radius: 18px;
    width: 70%;
    margin: 10px auto;
    height: 45px;
}

div.inputLabel {
    position: absolute;
    font-size: 18px;
    top: -12px;
    left: 15px;
    -webkit-text-stroke: #30273A 8px;
    paint-order: stroke fill;
}

input[type='text'],
input[type='password'] {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    padding: 0 15px;
}
input[type='text']:focus,
input[type='password']:focus {
    outline: none;
}

input[type='submit'] {
    width: 310px;
    height: 47px;
}

form {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(40px);
}
